{% extends 'base.html' %}

{% block nav %}
    <h1>Network Admin</h1>
{% endblock %}

{% block body %}
<form method="post" id="formulario">
    <div class="container">
        
        <div class="acciones_dispositivos">
            <h1>Acciones</h1>
            <input type="submit" name="action" value="filtrar">
            <input type="submit" name="action" value="reiniciar">
        </div>
        
        <div class="acciones_consolas">
            <h1>Consola</h1>
            <button id="toggleButton" onclick="toggleView(event)">Toggle</button>
        </div>

        <div class="dispositivos scrollB"></div>

        <div class="consolas scrollB">
            <div id="consola_individual" class=" hidden">
                {% for branch in devices %}
                
                    <h3>{{branch}}</h3>
                    
                    {% for device in devices[branch] %}
                        {% for host in devices[branch][device] %}
                            {% if devices[branch][device][host]['conn'] %}

                            <div class="consola">
                                <p>{{device}} {{host}}</p>
                                <textarea
                                    name="{{devices[branch][device][host]['info']['ip']}}"
                                    id="{{devices[branch][device][host]['info']['ip']}}"
                                    cols="30" rows="10">{% for p in respuesta %}{{p+'\n'}}{% endfor %}
                                </textarea>
                                <input type="file" id="fileInput" onchange="loadText(this, event, '{{devices[branch][device][host]['info']['ip']}}')">
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>

            <div id="consola_global" class=""></div>
        </div>

    </div>
</form>
{% endblock %}

{% block footer %}
    <p>Universidad autonoma de Guadalajara</p>
    <p>© 2024 Todos los derechos reservados para mabby1110 🐝</p>
{% endblock %}