{% extends 'base.html' %}

{% block nav %}
    <h1>Network Admin</h1>
{% endblock %}

{% block body %}
    <form method="post">
        <div class="container">
            <div class="sucursales parent">
                    {% for sucursal in sucursales %}
                    <div class="item">
                        <input type="checkbox" checked
                            name="sucursal"
                            value="{{ sucursal }}">
                        <p>{{ sucursal }}</p>
                    </div>
                    {% endfor %}
            </div>
    
            <div class="dispositivos parent">
                <div class="child">
                    {% if dispositivos["router"] %}
                    <h1>Dispositivos</h1>
                    <h3>Router</h3>
                    <ul>
                        {% for dispositivo in dispositivos["router"] %}
                        <li class="item">
                            <input type="checkbox" checked
                                name="router"
                                value="{{ dispositivo['ip'] }}">
                            <p>{{ dispositivo["ip"] }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if dispositivos["switch"] %}
                    <h3>Switch</h3>
                    <ul>
                        {% for dispositivo in dispositivos["switch"] %}
                        <li class="item">
                            <input type="checkbox" checked
                                name="switch"
                                value="{{ dispositivo['ip'] }}">
                            <p>{{ dispositivo["ip"] }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
    
            <div class="acciones parent">
                <div class="child">
                    <h1>Acciones</h1>
                    <input type="button" value="Show Running config">
                    <input type="button" value="ping">
                    <input type = "submit" id="submitButton" value = "Enviar" />
                </div>
            </div>
            <div class="consola parent">
                {% if dispositivos["router"] %}
                <div class="child">
                    <p>Comandos router</p>
                    <br>
                    <textarea readonly
                        name="consola_router"
                        id="consola"
                        class="areaComandos"
                        cols="30" rows="10">{{respuesta}}</textarea>
                        <input type="file" id="fileInput">
                </div>
                {% endif %}
                {% if dispositivos["switch"] %}
                <div class="child">
                    <p>Comandos switch</p>
                    <br>
                    <textarea readonly
                        name="consola_switch"
                        id="consola"
                        class="areaComandos"
                        cols="30" rows="10">{{respuesta}}</textarea>
                    <input type="file" id="fileInput">
                </div>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}

{% block footer %}
    <p>footer</p>
{% endblock %}