{% extends 'base.html' %}

{% block nav %}
    <h1>Flaskr</h1>
{% endblock %}

{% block body %}
    <div class="sucursales parent">
        <div class="item">
            sucursales
        </div>
    </div>
    <div class="dispositivos parent">
        <div class="item">
            <h1>Router</h1>
            <ul>
                <li><p>dispositivo</p><input type="checkbox" name="" id=""></li>
            </ul>

            <h1>Switch</h1>
            <ul>
                <li><p>dispositivo</p><input type="checkbox" name="" id=""></li>
            </ul>
        </div>
    </div>
    <div class="acciones parent">
        <div class="item">
            acciones
        </div>
    </div>
    <div class="consola parent">
        <div class="item">
            consola
        </div>
    </div>
  </body>
{% endblock %}

{% block footer %}
    <p>footer</p>
{% endblock %}